.app {
  min-height: 100vh;
  background: linear-gradient(#fac9c9, #c9ece0);
  text-align: center;
}

.main-heading {
  font-size: 4rem;
  margin: 2rem 0;
  color: #444;
}

.subheading {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: #666;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  background: lightcyan;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 300px;
  transition: transform 0.2s;
}

.card h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.2rem;
  color: #888;
}

.card:hover {
  transform: translateY(-10px);
}

.card button {
  border: none;
  background-color: lightskyblue;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}